services:
  trino-coordinator:
    image: trinodb/trino:479
    container_name: trino-coordinator
    ports:
      - "${TRINO_PORT:-443}:443"
    networks:
      - local-iceberg-lakehouse
    environment:
      - TRINO_USERNAME=${TRINO_USERNAME:-trino}
      - TRINO_PASSWORD=${TRINO_PASSWORD:-trino}
      - TRINO_INTERNAL_SECRET=${TRINO_INTERNAL_SECRET}
      - MINIO_ROOT_USER=${MINIO_ROOT_USER:-minioadmin}
      - MINIO_ROOT_PASSWORD=${MINIO_ROOT_PASSWORD}
      - POLARIS_USERNAME=${POLARIS_USERNAME:-polaris}
      - POLARIS_PASSWORD=${POLARIS_PASSWORD}
      - POLARIS_CATALOG_NAME=${POLARIS_CATALOG_NAME}
    volumes:
      - ./trino_config/coordinator/config.properties:/etc/trino/config.properties
      - ./trino_config/catalog:/etc/trino/catalog
      - ./trino_config/password-authenticator.properties:/etc/trino/password-authenticator.properties
      - ./trino_config/password.db:/etc/trino/password.db:ro
      - ./trino_config/selfsigned.jks:/etc/trino/selfsigned.jks

  trino-worker-1:
    image: trinodb/trino:479
    container_name: trino-worker-1
    depends_on:
      - trino-coordinator
    networks:
      - local-iceberg-lakehouse
    environment:
      - TRINO_INTERNAL_SECRET=${TRINO_INTERNAL_SECRET}
      - MINIO_ROOT_USER=${MINIO_ROOT_USER:-minioadmin}
      - MINIO_ROOT_PASSWORD=${MINIO_ROOT_PASSWORD}
      - POLARIS_USERNAME=${POLARIS_USERNAME:-polaris}
      - POLARIS_PASSWORD=${POLARIS_PASSWORD}
      - POLARIS_CATALOG_NAME=${POLARIS_CATALOG_NAME}
    volumes:
      - ./trino_config/worker/config.properties:/etc/trino/config.properties
      - ./trino_config/catalog:/etc/trino/catalog

  trino-worker-2:
    image: trinodb/trino:479
    container_name: trino-worker-2
    depends_on:
      - trino-coordinator
    networks:
      - local-iceberg-lakehouse
    environment:
      - TRINO_INTERNAL_SECRET=${TRINO_INTERNAL_SECRET}
      - MINIO_ROOT_USER=${MINIO_ROOT_USER:-minioadmin}
      - MINIO_ROOT_PASSWORD=${MINIO_ROOT_PASSWORD}
      - POLARIS_USERNAME=${POLARIS_USERNAME:-polaris}
      - POLARIS_PASSWORD=${POLARIS_PASSWORD}
      - POLARIS_CATALOG_NAME=${POLARIS_CATALOG_NAME}
    volumes:
      - ./trino_config/worker/config.properties:/etc/trino/config.properties
      - ./trino_config/catalog:/etc/trino/catalog

networks:
  local-iceberg-lakehouse:
    name: local-iceberg-lakehouse